<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>A rocking application</title>
    <meta name="description" content="" />
    <link href="css/styles.css" rel="stylesheet">
    <link href="css/gradients.css" rel="stylesheet">
</head>

<body>
    {{> header}}
    <p>{{ screamIt 'Welcome to Deb\'s application!'}}</p>
    <br/>
    {{> footer}}
</body>

</html>